.newTask {
  display: flex;
  flex-direction: row;
  height: 52px;
  margin-top: calc((52px / 2) * -1);
  gap: 0.5rem;
}

.newTask input {
  border: 1px solid var(--gray-700);
  box-sizing: border-box;
  background: var(--gray-500);
  border-radius: 8px;
  resize: none;
  padding: 0 1rem;
  width: 100%;
}

.newTask input:focus {
  color: var(--gray-100);
  border-color: var(--purple-dark);
}

.newTask button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  gap: 0.33rem;
  border: 0;
  border-radius: 8px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-weight: 700;
  cursor: pointer;
}

.newTask button:hover {
  background-color: var(--blue);
}