
.container {
  width: 736px;
  margin: 0 auto;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.taskCounters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
}

.taskCounters div {
  display: flex;
}

.taskCounters div p {
  margin-right: 0.5rem;
}

.taskCounters div:first-child {
  color: var(--blue);
}

.taskCounters div:last-child {
  color: var(--purple);
}

.task {
  margin-bottom: 1rem;
}

.pillCount {
  padding: 1px 8px;
  border-radius: 1rem;
  background: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 2px;
}